// Local variables
$col-1: #CF3D1E; // Red
$col-2: #F15623; // Red-orangey
$col-3: #F68B1F; // Orange
$col-4: #FFC60B; // Yellow
$col-5: #DFCE21; // Yellow-green
$col-6: #BCD631; // Very light green
$col-7: #95C93D; // Light green
$col-8: #48B85C; // Green
$col-9: #00833D; // Dark green
$col-10: #00B48D; // Turquoise?
$col-11: #60C4B1; // Grey-green
$col-12: #27C4F4; // Sky blue
$col-13: #478DCB; // Grey-blue
$col-14: #3E67B1; // Very light purple/blue
$col-15: #4251A3; // Light purple/blue
$col-16: #59449B; // Purple
$col-17: #6E3F7C; // Mauve?
$col-18: #6A246D; // Dark purple 
$col-19: #8A4873; // Purple-brown
$col-20: #EB0080; // Purple-grey
$col-21: #EF58A0; // Bright pink
$col-22: #C05A89; // Light pink