@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

/* BASIC PAGE STYLES */
body {
  position: relative;
  font-family: "Open Sans";
  font-size: 1.5em;
}
h1, h2, h3, h4 {
  text-shadow: 1px 1px 10px #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.3em;
  font-style: italic;
}
p {
  margin-bottom: 20px;
}
.transitioner {
  -webkit-transition: all .2s ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-delay: initial;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a {
  @extend .transitioner;
}
blockquote {
  border-left: 5px solid #365e93;
  font-size: 1.2em;
  margin-left: 15px;
}
/* NAVIGATION */
nav#main {
  position: fixed;
  padding: 0px 10px 10px 10px;
  top: 0px;
  z-index: 9999;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
  font-family: "Open Sans Condensed", sans-serif;
  
  ul {
    margin-top: 0;
  }
  li {
    margin-left: 15px;
		margin-bottom: 10px;
    background-color: $nav-button-colour;
    float: left;
    font-size: 1em;
    list-style-type: none;
    @extend .transitioner;

    a {
      color: #ffffff;
      padding: 4px 20px;
      display: block;
      box-shadow: 1px 1px 5px #666666;
    }
    a:hover, a:focus, &.active a {
      background-color: #ffffff;
      color: $nav-button-colour;
    }
  }
  &.brand-shrink {
    .navbar-brand {
      line-height: 1em;
      font-size: 1.7em;
      img {
        max-height:60px;
      }
    }
    li {
      font-size: 0.8em;
    }
  }
  :after {
    clear: none;
  }
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
  color: #000000;
  font-size: 1.9em;
  text-shadow: 1px 1px 2px #ffffff;
  padding: 10px;
	float:none;
  line-height: 1.5em;
  width: 300px;
  @extend .transitioner;
	img {
		max-height:80px;
    @extend .transitioner;
	}
}
.navbar-default {
  background: none;
  border: none;
}
.navbar-toggle {
  background-color: white;
}

/* Article-specific styling */ 
article#home {
  background: rgba(0, 0, 0, 0) url("../img/background-gheiti.png") repeat scroll 0 0 / cover;
  border-left: 10px solid $colour-home;
	position:relative;
	.masthead {
	  margin: 80px 0px 80px 40px;
	  padding: 40px;
	  color: #222222;
		h1 {
		  padding: 5px 15px 0px 15px;
		  font-weight: bold;
		  color: #ffffff;
		  text-shadow: 1px 1px 2px #000000;
		  font-size: 4.5em;
			margin-bottom:0;
		}
		h2 {
		  color: #ffffff;
		  text-shadow: 3px 3px 4px #000000;
		  margin: 0.2em 0;
			text-align:right;
      font-size:2.2em;
			a {
				text-decoration:none;
        color: #ffffff;
				&:hover {
          text-shadow: 1px 1px 2px #ffffff;
				}
			}
		}
		.header-box {
		  max-width: 1000px;
		}
		p {
			color: #ffffff;
		}
	}
	.inner {
	  margin-top: 70px;
	  min-width: 470px;
	  position: relative;
	  z-index: 999;
	}
}
article#about {
  border-left: 10px solid $colour-home;
  h2 {
    border-bottom: 5px solid $colour-home;
  }
}
article#commodities {
  border-left: 10px solid $colour-commodities;
  h2 {
    border-bottom: 5px solid $colour-commodities;
  }
}
article#time {
  border-left: 10px solid $colour-time;
  h2 {
    border-bottom: 5px solid $colour-time;
  }
}
article#production {
  border-left: 10px solid $col-12;
  h2 {
    border-bottom: 5px solid $col-12;
  }
}
article#companies {
  border-left: 10px solid $col-15;
  h2 {
    border-bottom: 5px solid $col-15;
  }
}
article#debt-revenue {
  border-left: 10px solid $col-21;
  h2 {
    border-bottom: 5px solid $col-21;
  }
}
article#data {
  border-left: 10px solid $colour-oil;
  h2 {
    border-bottom: 5px solid $colour-oil;
  }
}
/* CONTENT */
.content-box {
  margin-top: 50px;
  color: #000000;
  padding: 10px;
}
#content {
  height: 100%;
  width: 100%;
  z-index: 10;
  article {
    overflow: hidden;
    display: block;
    .inner {
      margin: 0 auto;
      width: 100%;
    }
  }
  .content-box {
    padding: 20px 60px 20px;
  }
}
#main-content article {
  min-height: 400px;
}
.table {
  font-size: 0.7em;
}

.graph-notes {
  font-size: 0.6em;
  color: #333333;
  p {
    margin: 2px;
  }
  ul {
    margin: 0px;
    padding: 0px;
    li {
      list-style-type: square;
    }
  }
  h3 {
    font-size: 1.6em;
    margin: 0.5em 0;
  }
}

/* FOOTER */

.footer-box {
  background-color: #222222;
  padding: 10px;
  clear: both;
  color: #ffffff;
  a {
    color: #ffffff;
    border-bottom: 1px dashed;
    &:hover {
      border-bottom: none;
      text-decoration: none;
      color: #cccccc;
    }
  }
  .footer-right {
      font-size: 0.6em;
  }
}

/* HELPERS */
.clearer {
  clear: both;
}

/* STYLING FOR MOBILE */

@media (max-width: 768px) {
    h2, .footer h2{font-size: 1.8em;}
    body{font-size: 1.5em;}
    .thumbnail{
        width: 300px;}
		article#home .masthead h1 {
			font-size: 2em;
			padding: 0;
			color: #000000;
		  text-shadow: 1px 1px 2px #eeeeee;
		}
		article#home .masthead h2 {
			font-size: 1.5em;
			color:#000000;
			text-align:left;
			a:hover {
				color: $colour-home;
			}
		}
    #homeMap {
      display:none;
    }
    nav#main {
      top: 0px;
      background: #ffffff;
      margin-bottom:15px;
      .navbar-collapse {
        background: #ffffff;
          ul {
            margin-left: 0;
            li, li a {
              margin-left: 0;
              float: none;
              background: #eeeeee;
              box-shadow: none;
              color: #000000;
              &:hover {
                background: #666666;
                color: #ffffff;
              }
            }
        }
      }
      .navbar-brand, .navbar-brand:hover {
        font-size: 1.1em !important;
        padding: 0px;
        line-height: 1em;
      }
      .navbar-toggle {
        margin-top: 0;
      }
    }
    .navbar-header {
      padding: 10px;
    }
    #content {
      margin-top: 50px;
      .content-box {
        padding: 20px;
        margin-top: 0px;
      }
      h1, h2, h3, h4 {
        margin-bottom: 4px;
      }
    }
    .footer-right {
        padding-top: inherit;
        font-size: 1em;
    }
    .table {
      font-size: 0.45em;
      .badge {
        font-weight: normal;
        padding: 3px 2px;
      }
    }
		.lineChart {
			height: 200px;
		}
}