/* Sections */
$colour-home: $col-2;
$colour-commodities: $col-11;
$colour-time: $col-4;

/* Commodities */
$colour-gold: $col-3;
$colour-oil: #222222;
$colour-bauxite: $col-18;
$colour-manganese: $col-9;
$colour-commodity-default: $col-10;

/* Nav elements */
$nav-button-colour: $col-9;